<link rel="import" href="/bower_components/polymer/polymer.html">

<link rel="import" href="/components/ss-channel/ss-channel.html">

<dom-module id="stream-page">
    <template>
        <style>
            :host {
                display: none;
                position: absolute;
                left: 396px;
                top: 73px;
                right: 48px;
            }

            :host([active]) {
                display: block;
            }

            h1 {
                font-weight: normal;
                font-size: 24px;
            }

            .channels-label {
                text-transform: uppercase;
                color: #999999;
                font-size: 12px;
                line-height: 24px;
                display: block;
                margin: 12px 0;
            }

            #loading {
                display: none;
                text-align: center;
                font-size: 24px;
                color: #999999;
                padding-top: 48px;
            }

            .videos-wrap {
                font-size: 0;
                margin: 12px auto;

            }

            .videos-wrap label {
                font-size: 12px;
                text-transform: uppercase;
                display: block;
                margin: 12px 0;
            }

            .video {
                display: inline-block;
                width: 30%;
                box-sizing: border-box;
                margin: 6px;
                padding: 12px;
                border-radius: 2px;
                background: rgba(255, 255, 255, 0.1);
                cursor: pointer;
            }

            .video:hover {
                background: rgba(255, 255, 255, .2);
            }

            .video img {
                width: 100%;
            }

            .video span {
                display: block;
                font-size: 12px;
            }

            .video .video-title {
                margin-top: 12px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .video .video-channel {
                margin-top: 6px;
                color: #999999;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        </style>

        <iron-ajax
                auto
                url="[[_computeUrl(streamId)]]"
                method="GET"
                handle-as="json"
                loading="{{isLoading}}"
                on-response="handleGetVideos"
                debounce-duration="300"></iron-ajax>

        <!--<h1>{{streamName}}</h1>-->

        <label class="channels-label">Channels</label>
        <div>
            <template is="dom-repeat" items="[[streamSubs]]">
                <ss-channel channel-title="[[item.snippet.title]]"
                            thumbnail-url="[[item.snippet.thumbnails.default.url]]"></ss-channel>
            </template>
        </div>

        <div id="loading">Loading...</div>


        <div class="videos-wrap" id="videosWrap">
            <label>Videos</label>
            <template is="dom-repeat" items="[[videos]]">
                <div class="video">
                    <img src="{{item.snippet.thumbnails.medium.url}}" alt="">
                    <span class="video-title">{{item.snippet.title}}</span>
                    <span class="video-channel">{{item.snippet.channelTitle}}</span>
                </div>
            </template>
        </div>

    </template>
    <script>
        Polymer({
            is: "stream-page",
            properties: {
                active: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                },

            },

            observers: [
                'setStreamInfo(streamId)',
                'checkLoading(isLoading)'
            ],

            handleGetVideos: function(e) {
                this.videos = e.detail.response
            },

            setStreamInfo(streamId) {
                for(var stream of this.allStreams) {
                    if(stream.folderId == streamId) {
                        this.streamName = stream.name;
                        this.streamSubs = stream.subs;
                    }
                }
            },

            checkLoading(isLoading) {
                if(isLoading) {
                    this.$.videosWrap.style.display = "none";
                    this.$.loading.style.display = "block";
                } else {
                    this.$.videosWrap.style.display = "block";
                    this.$.loading.style.display = "none";
                }
            },

            _computeUrl(streamId) {
                return '/api/streams/' + streamId + '/videos'
            }
        });
    </script>
</dom-module>