<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/app-route/app-location.html">
<link rel="import" href="/bower_components/app-route/app-route.html">

<link rel="import" href="/components/index-page/index-page.html">
<link rel="import" href="/components/create-page/create-page.html">


<dom-module id="substream-app">
    <template>
        <h1>substream</h1>
        <p>{{user.title}}</p>
        <p>subs count: <span>{{subs.length}}</span></p>
        <p>streams count <span>{{streams.length}}</span></p>

        <app-location route="{{route}}"></app-location>

        <app-route route="{{route}}"
                   pattern="/"
                   active="{{indexActive}}"></app-route>

        <app-route route="{{route}}"
                   pattern="/create"
                   active="{{createActive}}"></app-route>

        <main>
            <index-page streams="{{streams}}"
                        active="{{indexActive}}"></index-page>

            <create-page active="{{createActive}}"></create-page>
        </main>

    </template>
    <script>
        Polymer({
            is: "substream-app",
            properties: {
                user: Object,
                subs: Array,
                streams: Array
            }
        });
    </script>
</dom-module>