doctype html
html
  head
    title substream
    link(rel="stylesheet" href="/styles/site.css")
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700', rel='stylesheet')
  body
    block content
