<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">

<link rel="import" href="/components/ss-channel/ss-channel.html">

<dom-module id="create-page">
    <template>
        <style>
            :host {
                display: none;
                position: absolute;
                left: 396px;
                top: 73px;
                right: 48px;
            }
            :host([active]) {
                display: block;
            }

            h1 {
                font-size: 12px;
                line-height: 24px;
                margin: 12px 0;
                font-weight: normal;
                text-transform: uppercase;
            }

            .name-input-wrap {
                margin-bottom: 24px;
            }

            label {
                display: block;
                font-size: 12px;
                line-height: 24px;
                margin-bottom: 12px;
                text-transform: uppercase;
                color: #999999;
            }

            input {
                font-family: 'Open Sans', sans-serif;
                display: block;
                margin: 6px;
                border: none;
                background: rgba(255, 255, 255, .2);
                line-height: 40px;
                border-radius: 2px;
                width: 100%;
                max-width: 400px;
                padding: 0 16px;
                font-size: 14px;
                color: #ffffff;
            }

            .select-streams-wrap {
                margin-bottom: 96px;
                font-size: 0;
            }

            .channel-wrap {
                padding: 6px;
                display: inline-block;
                width: 33.333%;
            }

            .select-streams-wrap .channel {
                font-size: 14px;
                text-align: left;
                padding: 8px 12px;
                background: rgba(255, 255, 255, .1);
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                border-radius: 2px;
                cursor: pointer;
            }

            .select-streams-wrap .channel:hover {
                background: rgba(255, 255, 255, .2);
            }

            .select-streams-wrap .channel span {
                line-height: 30px;
                padding: 0 9px;
                pointer-events: none;
            }

            .select-streams-wrap .channel ss-channel {
                float: left;
                pointer-events: none;
            }

            .select-streams-wrap .channel.selected {
                background: rgba(114, 255, 61, 0.3);
            }

            .create-btn {
                float: right;
                line-height: 40px;
                padding: 0 16px;
                font-size: 14px;
                border: 1px solid #ffffff;
                background: transparent;
                color: #ffffff;
                cursor: pointer;
                border-radius: 2px;
                margin: 6px;
            }

            .create-btn:hover {
                background: rgba(255, 255, 255, .2);
            }

        </style>

        <h1>Add A Stream</h1>
        <button class="create-btn" on-tap="createStream">Create Stream</button>


        <div class="name-input-wrap">
            <label>Stream name</label>
            <input type="text" id="streamName" placeholder="Name your stream..." />
        </div>

        <div class="select-streams-wrap">
            <label>Select your subscriptions</label>
            <input class="quick-filter" type="search" placeholder="Quick filter..." value="{{searchString::input}}">

            <template is="dom-repeat" items="{{subs}}" filter="{{_computeFilter(searchString)}}">
                <div class="channel-wrap">
                    <div class$="channel {{item.classList}}" on-tap="_selectChannel" id="{{item.snippet.resourceId.channelId}}">
                        <ss-channel channel-title="[[item.snippet.title]]"
                                    thumbnail-url="[[item.snippet.thumbnails.default.url]]"></ss-channel>
                        <span>{{item.snippet.title}}</span>
                    </div>
                </div>
            </template>
        </div>

        <div class="create-btn-wrap">
        </div>

        <iron-ajax
                id="createRequest"
                url="/api/streams"
                method="POST"
                content-type="application/json"
                handle-as="json"
                on-response="handleCreateStream"
                debounce-duration="300"></iron-ajax>

    </template>
    <script>
        Polymer({
            is: "create-page",
            properties: {
                subs: Array,
                selectedSubIds: {
                    type: Array,
                    value: []
                },
                active: {
                    type: Boolean,
                    value: false,
                    reflectToAttribute: true
                }
            },

            _selectChannel() {
                var i = this.subs.indexOf(event.model.item);
                var model = event.model;

                if(model.item.selected == true) {
                    this.set('subs.' + i + '.classList', "");
                    this.set('subs.' + i + '.selected', false);
                } else {
                    this.set('subs.' + i + '.classList', "selected");
                    this.set('subs.' + i + '.selected', true);
                }
            },

            createStream: function() {
                var req = this.$.createRequest;

                req.body = {
                    subIds: this.selectedSubIds,
                    name: this.$.streamName.value
                };

                req.generateRequest();
            },

            handleCreateStream: function(e) {
                this.set('route.path', '/');
            },

            _computeFilter: function(searchTerm) {
                if (!searchTerm) {
                    // set filter to null to disable filtering
                    return null;
                } else {
                    // return a filter function for the current search string
                    searchTerm = searchTerm.toLowerCase();
                    return function(channel) {
                        var title = channel.snippet.title.toLowerCase();
                        return (title.indexOf(searchTerm) != -1);
                    };
                }
            }
        });
    </script>
</dom-module>